<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE XML>
<configuration>
    <property name="LOG_HOME" value="target/test-logs" />
    <property name="LOG_FILE_NAME" value="/crawler4j.log" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder>
            <pattern>%date{HH:mm:ss} %-5level [%thread] - [%logger{0}]- %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_HOME}/${LOG_FILE_NAME}</file>
        <append>false</append>
        <encoder>
            <pattern>%date %-5level [%thread] - [%logger] - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.github.tomakehurst" level="ERROR"/>
    <logger name="org.apache.http" level="WARN" />
    <logger name="org.eclipse.jetty" level="ERROR" />

    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>
</configuration>