<configuration>


    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{HH:mm:ss} %-5level [%thread] - [%logger{0}]- %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.github.tomakehurst" level="ERROR"/>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
